body{
    background-color: rgb(87, 16, 159);
}

section{
    background-color: white;
    max-width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.249);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

button{
    font-size: larger;
    border-radius: 5px;
    color: black;
    background-color: orange;
    width: 80px;
    height: 30px;
}

input{
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.432);
    border-color: black;
}

#copy{
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 15px;
}