body{
    font: normal 15pt Arial;
    background-color: rgb(32, 30, 29);
}

div{
    text-align: center;
}

header{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.838);
    margin: auto;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.713);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.imagem{
    border-radius: 50%;
    padding: 8px;
}

.imagem:hover{
    cursor: pointer;
}

.msg{
    margin: 10px;
}